{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}
<style>
</style>

{# <div>
    <label for="film-titre">Titre du film</label>
    <input type="text" id="film-titre" Placeholder="Saisir le titre du film" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div>

<div>
    <label for="film-realisateur">Nom du réalisateur</label>
    <input type="text" id="film-realisateur" Placeholder="Saisir le nom du réalisateur" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div>

<div>
    <label for="film-genre">Genre</label>
    <input type="text" id="film-genre" Placeholder="Le genre" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div> #}


    {# {{ form(form) }} #}


<div class="film-add">
    <div class="film-add-container">

        {% if (idEditor) %}
            <div class="film-add-title"><h2>Modification d'un film</h2></div>
        {% else %}
            <div class="film-add-title"><h2>Nouveau film</h2></div>
        {% endif %}

        {{ form_start(form) }}

        {{ form_row(form.title, { 'label': 'Title :', 'required': false }) }}
        {{ form_row(form.realisateur, { 'label': 'Réalisateur :', 'required': false }) }}
        {{ form_row(form.genre, { 'label': 'Genre :', 'required': false }) }}
        {{ form_row(form.image, { 'label': 'Le lien d\'une image :', 'required': false }) }}
        {{ form_row(form.link, { 'label': 'Link :', 'required': false, 'type': 'url' }) }}
        {{ form_row(form.description, { 'label': 'Description :', 'required': false, 'rows': '10' }) }}
        {{ form_row(form.duree, { 'label': 'Durée (en minutes) :', 'required': false, 'type': 'number' }) }}
        {{ form_row(form.status, { 'label': 'Status :', 'required': false, }) }}

        {% if (idEditor) %}
            {{ form_row(form.save, { 'label': 'Enregistrer' }) }}
        {% else %}
            {{ form_row(form.save, { 'label': 'Ajouter' }) }}
        {% endif %}

    </div>
</div>

    {{ form_end(form) }}
{% endblock %}
