{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}
<style>
</style>

{# <div>
    <label for="film-titre">Titre du film</label>
    <input type="text" id="film-titre" Placeholder="Saisir le titre du film" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div>

<div>
    <label for="film-realisateur">Nom du réalisateur</label>
    <input type="text" id="film-realisateur" Placeholder="Saisir le nom du réalisateur" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div>

<div>
    <label for="film-genre">Genre</label>
    <input type="text" id="film-genre" Placeholder="Le genre" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div> #}


    {# {{ form(form) }} #}

    {% if (idEditor) %}
        <div>Formualire de modification de film</div>
    {% else %}
        <div>Formualire d'ajout de film</div>
    {% endif %}

    {{ form_start(form) }}

    <div>
        {{ form_row(form.title, { 'label': 'Title :' }) }}
    </div>

    <div>
        {{ form_row(form.realisateur, { 'label': 'Réalisateur :' }) }}
    </div>

    <div>
        {{ form_row(form.genre, { 'label': 'Genre :' }) }}
    </div>

    <div>
        {{ form_row(form.image, { 'label': 'Image :' }) }}
    </div>

    <div>
        {{ form_row(form.link, { 'label': 'Link :' }) }}
    </div>

    <div>
        {% if (idEditor) %}
            {{ form_row(form.save, { 'label': 'Edit :' }) }}
        {% else %}
            {{ form_row(form.save, { 'label': 'Save :' }) }}
        {% endif %}
    </div>

    {{ form_end(form) }}
{% endblock %}
