{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}
<style>
</style>

{# <div>
    <label for="film-titre">Titre du film</label>
    <input type="text" id="film-titre" Placeholder="Saisir le titre du film" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div>

<div>
    <label for="film-realisateur">Nom du réalisateur</label>
    <input type="text" id="film-realisateur" Placeholder="Saisir le nom du réalisateur" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div>

<div>
    <label for="film-genre">Genre</label>
    <input type="text" id="film-genre" Placeholder="Le genre" />
    <h1>Saved new films with title  <u>{{ film_title }}</u></h1>
</div> #}


    {# {{ form(form) }} #}


<div class="film-add">
    <div class="film-add-container">

        {% if (idEditor) %}
            <div class="film-add-title"><h3>Formualire de modification de film</h3></div>
        {% else %}
            <div class="film-add-title"><h3>Formualire d'ajout de film</h3></div>
        {% endif %}

        {{ form_start(form) }}

        <div>
            {{ form_row(form.title, { 'label': 'Title :', 'required': false }) }}
        </div>

        <div>
            {{ form_row(form.realisateur, { 'label': 'Réalisateur :', 'required': false }) }}
        </div>

        <div>
            {{ form_row(form.genre, { 'label': 'Genre :', 'required': false }) }}
        </div>

        <div>
            {{ form_row(form.image, { 'label': 'Image :', 'required': false }) }}
        </div>

        <div>
            {{ form_row(form.link, { 'label': 'Link :', 'required': false, }) }}
        </div>

        <div>
            {{ form_row(form.description, { 'label': 'Description :', 'required': false, }) }}
        </div>

        <div>
            {% if (idEditor) %}
                {{ form_row(form.save, { 'label': 'Edit :' }) }}
            {% else %}
                {{ form_row(form.save, { 'label': 'Save :' }) }}
            {% endif %}
        </div>


    </div>
</div>

    {{ form_end(form) }}
{% endblock %}
